{% extends 'base.html' %}
{% load static %}


{% block main_content %}

<section class="jumbotron text-center serviceSection p-0">
    <div class="serviceOverlay">
        <div class="container">
            <h1 class="serviceText">Get My Service</h1>
          </div>
    </div>
    
  </section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="card mb-5 text-center">
                  <img class="serviceImg" src="{% static 'images/smartphone.png' %}" />
                  <div class="card-body text-justify">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-sm btn-pill details">Details</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-sm btn-pill details">Details</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-sm btn-pill details">Details</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
{% endblock main_content %}
    
