<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Food-Signup/Signin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/signup.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container right-panel-active">
			<!-- Sign Up -->
			<div class="container__form container--signup">
				<form action="{% url 'accounts:signup' %}" class="form" id="form1" method="POST">
					{% csrf_token %}
					<h2 class="form__title">Sign Up</h2>
					{{ form|crispy }}
					<button class="btn" type="submit">Sign Up</button>
					<!-- <input type="email" placeholder="Email" class="input" />
					<input type="password" placeholder="Password" class="input" />
					<input type="password" placeholder="Confirm Password" class="input" />
					<button class="btn">Sign Up</button> -->
				</form>
			</div>

			<!-- Sign In -->
			<div class="container__form container--signin">
				<form action="{% url 'accounts:login' %}" class="form" id="form2">
					<h2 class="form__title">Sign In</h2>
					<input type="email" placeholder="Email" class="input" name="username" />
					<input type="password" placeholder="Password" class="input" name="password" />
					<a href="#" class="link">Forgot your password?</a>
					<button class="btn" type="submit">Sign In</button>
				</form>
			</div>

			<!-- Overlay -->
			<div class="container__overlay">
				<div class="overlay">
					<div class="overlay__panel overlay--left">
						<button class="btn" id="signIn">Sign In</button>
					</div>
					<div class="overlay__panel overlay--right">
						<button class="btn" id="signUp">Sign Up</button>
					</div>
				</div>
			</div>
		</div>
<!-- partial -->
  <script  src="{% static 'js/signup.js' %}"></script>

</body>
</html>
